# Auto detect text files and perform LF normalization
* text=auto
Content/Gothic_Cathedral/Maps/Gothic_Cathedral.umap filter=lfs diff=lfs merge=lfs -text
Content/Gothic_Cathedral/Materials/Tileable_Material_textures/Limestone_lichen_cliff/T_Limestone_lichen_cliff_Normal.uasset filter=lfs diff=lfs merge=lfs -text
